<h1>Media Ranker</h1>

render movie, book, and album titles here.

<%= link_to "View More Movies", movies_path %>
<%= link_to "View More Albums", albums_path %>
<%= link_to "View More Books",  books_path %>
